.tecnoblock {
    &-carousel {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 0;

        &-slider {
            display: flex;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;
            gap: 16px;
            scrollbar-width: none;
            margin: 0;
            padding: 0;

            > li {
                display: flex;
                list-style: none;
                position: relative;
                flex-shrink: 0;
                scroll-snap-align: start;
                background-color: gray;
                aspect-ratio: var(--aspect-ratio);
                width: 100%;
                height: auto;
                position: relative;

                img {
                    pointer-events: none;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }

                .inner-advanced-info {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    box-sizing: border-box;
                    width: 100%;
                    padding: 32px;
                    position: absolute;
                    bottom: 0;
                    color: white;
                    background-image: linear-gradient(transparent, black);

                    > h3 {
                        font-weight: 800;
                        color: white;
                    }

                    > div {
                        > *:first-child {
                            margin-bottom: 0;
                        }
        
                        > *:first-child {
                            margin-top: 0;
                        }
                    }

                    > * {
                        margin: 0;
                    }
                }
            }
        }

        &-counter {
            display: flex;
            justify-content: center;
            gap: 8px;

            &-item {
                width: 16px;
                height: 16px;
                border-radius: 9999px;
                background-color: var(--wp--preset--color--background);
                border: none;
                transition: 0.3s all;
                cursor: pointer;

                &:hover {
                    background-color: var(--wp--preset--color--foreground);
                }

                &.active {
                    width: 32px;
                    background-color: var(--wp--preset--color--secondary);
                }
            }
        }
    }
}
