.tecnoblock {
    &-icons-list {
        display: grid;
        gap: var(--gap);
        padding: 0;

        &.two-cols-ver {
            grid-template-columns: repeat(2, 1fr);
        }

        &-item {
            list-style: none;
            
            &-link {
                i {
                    color: var(--wp--preset--color--primary);
                    font-size: var(--size);
                }

                span {
                    color: var(--wp--preset--color--secondary);
                    font-size: var(--size);
                }

                text-decoration: none;
            }   
        }    
    }
}