.tecnoblock-search-bar {
    display: flex;
    gap: 0;

    &:not(.active) {
        .tecnoblock-search-bar-form {
            display: none;
        }

        .tecnoblock-search-bar-button {
            > .fa-xmark {
                display: none;
            }
        }
    }

    &.active {

        .tecnoblock-search-bar-submit {
            display: flex;
            gap: 8px;
            align-items: center;
            justify-content: center;
            border-radius: 0;
            padding-inline: 16px;

            &:hover {
                background-color: var(--wp--preset--color--primary);
                color: white;
            }
        }

        .tecnoblock-search-bar-form {
            display: flex;
            height: 100%;

            &-input {
                padding-inline: 16px;
                border: none;
                border-radius: 8px 0 0 8px; 
                border-right: 1px solid var(--wp--preset--color--contrast);
            }
        }

        .tecnoblock-search-bar-button {
            border-radius: 0 8px 8px 0;
            
            > .fa-magnifying-glass {
                display: none;
            }
        }
    }

    button {
        border: none;
        background-color: white;
        border-radius: 8px;
        border: 1px solid white;
        transition: 0.3s all;
        cursor: pointer;

        &:hover {
            background-color: transparent;
        }

        &:active {
            transform: scale(0.95);
        }
    }

    &-button {
        aspect-ratio: 1;
    }
}