html {
    overflow-x: hidden;
}

.wp-block-post-template.columns-3 {
    @media screen and (min-width: 600px) and (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
    }

    .wp-block-read-more {
        transition: 0.3s background-color;

        &:hover {
            background-color: var(--wp--preset--color--secondary) !important;
        }
    }
}

@media screen and (max-width: 450px) {
    .product-template-intervened {
        grid-template-columns: 1fr !important;
    }
}

.wp-block-button__link {
    transition: 0.3s background-color;
}

@media screen and (max-width: 781px) {
    .skip-animation-mobile {
        animation: none !important;
    }
}

.set-on-reverse {
    flex-direction: row-reverse;
}

.wc-block-mini-cart__button {
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
    border: 1px solid white;
    padding: 8px;
    border-radius: 8px;
    transition: 0.3s all;
    height: 100%;
    background-color: white;

    &:hover {
        background-color: transparent;
    }

    &:active {
        transform: scale(0.95);
    }

    > span {
        margin: 0;
    }
}

.wp-block-navigation__container  {
    a.wp-block-navigation-item__content {
        &:hover {
            color: var(--wp--preset--color--primary) !important;
            text-decoration: none !important;
        }
    }
}

.product-template-intervened {
    gap: 16px !important;

    .wc-block-product, .wp-block-post {
        display: none;
    }
}

.woocommerce-result-count {
    color: var(--wp--preset--color--secondary) !important;
}

.woocommerce-ordering {
    select {
        accent-color: var(--wp--preset--color--primary) !important;
        font-size: var(--wp--preset--font-size--small) !important;
        border-color: var(--wp--preset--color--contrast) !important;
        color: var(--wp--preset--color--secondary) !important;
        border-radius: 8px;
        padding: 8px;
        transition: 0.3s all;

        &:hover {
            background-color: var(--wp--preset--color--contrast) !important;
        }
    }
}

.wp-block-query-pagination {
    gap: 0;

    .wp-block-query-pagination-previous, 
    .wp-block-query-pagination-next, 
    .wp-block-query-pagination-numbers > .page-numbers {
        border: 1px solid var(--wp--preset--color--contrast);
        padding: 8px 16px;
        text-decoration: none;
        border-right: none;
        transition: 0.3s all;
        color: var(--wp--preset--color--secondary);

        &:hover {
            background-color: var(--wp--preset--color--primary);
            color: white;
        }

        &:active {
            transform: scale(0.95);
        }
        
    }
    
    .wp-block-query-pagination-next {
        border-right: 1px solid var(--wp--preset--color--contrast);
    }

    .wp-block-query-pagination-numbers > .page-numbers {
        &.current {
            pointer-events: none;
            background-color: var(--wp--preset--color--primary);
            color: white;
        }
    }

    .wp-block-query-pagination-numbers {
        display: flex;

    }
}

.wp-block-post-terms > a, .woocommerce-review-link {
    color: var(--wp--preset--color--secondary) !important;
}

.on-search-page-bar {
    border: 1px solid var(--wp--preset--color--contrast);
    overflow: hidden;
    border-radius: 8px;
    
    .wp-block-search__inside-wrapper  {
        padding: 0;

        .wp-block-search__input {
            padding-inline: 16px;
        }

        .wp-block-search__button {
            border-radius: 0;
            border-left: 1px solid var(--wp--preset--color--contrast);
            transition: 0.3s all;

            &:active {
                transform: scale(0.95);
            }

            &:hover {
                background-color: var(--wp--preset--color--primary) !important;
                color: white !important;
            }
        }
    }
}