html {
    overflow-x: hidden;
}

.wp-block-post-template.columns-3 {
    @media screen and (min-width: 600px) and (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
    }

    .wp-block-read-more {
        transition: 0.3s background-color;

        &:hover {
            background-color: var(--wp--preset--color--secondary) !important;
        }
    }
}

.wp-block-button__link {
    transition: 0.3s background-color;
}

@media screen and (max-width: 781px) {
    .skip-animation-mobile {
        animation: none !important;
    }
}

.set-on-reverse {
    flex-direction: row-reverse;
}

.wc-block-mini-cart__button {
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
    border: 1px solid white;
    padding: 8px;
    border-radius: 9999px;
    transition: 0.3s all;
    height: 100%;
    background-color: white;

    &:hover {
        background-color: transparent;
    }

    &:active {
        transform: scale(0.95);
    }

    > span {
        margin: 0;
    }
}

.wp-block-navigation__container  {
    a.wp-block-navigation-item__content {
        &:hover {
            color: var(--wp--preset--color--primary) !important;
            text-decoration: none !important;
        }
    }
}

.product-template-intervened {
    gap: 16px !important;
    
    .wc-block-product {
        display: none;
    }
}