<!-- wp:template-part {"slug":"header","tagName":"header","align":"wide"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"16px","left":"16px"},"margin":{"top":"0px","bottom":"0px"},"blockGap":"0px"},"dimensions":{"minHeight":"75vh"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="min-height:75vh;margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:16px;padding-left:16px"><!-- wp:group {"tagName":"main","lock":{"move":false,"remove":false},"align":"wide"} -->
<main class="wp-block-group alignwide"><!-- wp:post-content {"lock":{"move":false,"remove":false},"align":"wide","layout":{"type":"constrained","justifyContent":"left","contentSize":"1280px"}} /--></main>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- wp:tecnotool/floating-menu {"name":"tecnotool/floating-menu","mode":"preview"} /-->
<!-- wp:template-part {"slug":"footer","area":"footer"} /-->