<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"blockGap":"0px","padding":{"top":"0px","right":"16px","bottom":"0px","left":"16px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:16px;padding-bottom:0px;padding-left:16px"><!-- wp:spacer {"height":"4rem","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
    <div style="margin-top:0px;margin-bottom:0px;height:4rem" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"right":"0rem","left":"0rem","top":"0px","bottom":"0px"}}},"layout":{"type":"constrained","justifyContent":"left"}} -->
    <div class="wp-block-group alignwide" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0rem;padding-bottom:0px;padding-left:0rem"><!-- wp:search {"showLabel":false,"width":100,"widthUnit":"%","buttonPosition":"button-inside","buttonUseIcon":true,"align":"center","className":"on-search-page-bar","style":{"border":{"width":"0px","style":"none"}},"backgroundColor":"background","textColor":"secondary"} /-->
    
    <!-- wp:spacer {"height":"4rem","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
    <div style="margin-top:0px;margin-bottom:0px;height:4rem" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->
    
    <!-- wp:query {"queryId":28,"query":{"perPage":10,"pages":0,"offset":0,"postType":"product","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"parents":[],"format":[]},"tagName":"main","align":"wide","className":"product-template-intervened","layout":{"type":"constrained","justifyContent":"center"}} -->
    <main class="wp-block-query alignwide product-template-intervened"><!-- wp:post-template {"align":"wide","className":"product-template-intervened","layout":{"type":"grid","columnCount":4}} -->
    <!-- wp:tecnotool/custom-product-item {"name":"tecnotool/custom-product-item","mode":"preview"} /-->
    <!-- /wp:post-template -->
    
    <!-- wp:group {"style":{"spacing":{"margin":{"top":"4rem"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group" style="margin-top:4rem"><!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
    <!-- wp:query-pagination-previous /-->
    
    <!-- wp:query-pagination-numbers /-->
    
    <!-- wp:query-pagination-next /-->
    <!-- /wp:query-pagination --></div>
    <!-- /wp:group -->
    
    <!-- wp:query-no-results -->
    <!-- wp:group {"style":{"spacing":{"blockGap":"8px","padding":{"top":"0","bottom":"0"},"margin":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center","orientation":"vertical"}} -->
    <div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--80);margin-bottom:var(--wp--preset--spacing--80);padding-top:0;padding-bottom:0"><!-- wp:image {"sizeSlug":"large"} -->
    <figure class="wp-block-image size-large"><img src="/wp-content/themes/hcell-theme/assets/images/not-found.webp" alt="not found"/></figure>
    <!-- /wp:image -->
    
    <!-- wp:paragraph {"align":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}},"typography":{"fontStyle":"normal","fontWeight":"500"}},"textColor":"secondary","fontSize":"large"} -->
    <p class="has-text-align-center has-secondary-color has-text-color has-link-color has-large-font-size" style="font-style:normal;font-weight:500">No se encontraron resultados</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group -->
    <!-- /wp:query-no-results --></main>
    <!-- /wp:query -->
    
    <!-- wp:spacer {"height":"8rem","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
    <div style="margin-top:0px;margin-bottom:0px;height:8rem" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->